@import "ui-variables";

@ui-size:           1em;
@ui-padding:        @ui-size*1.5;
@ui-line-height:    @ui-size*2;

@pane-item-hover-color: lighten(@pane-item-background-color, 6%);

@list-item-padding-v: @ui-padding/2.5;
@list-item-padding-h: @ui-padding/1.5;
@list-item-padding: @list-item-padding-v @list-item-padding-h;

@color-ready: @text-color-info;
@color-running: @text-color-success;
@color-error: @text-color-error;

@color-not-compiled: @text-color-subtle;
@color-compiled: @text-color-info;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.alloy .header {

    display: flex;
    align-items: center;
    background-color: @level-2-color;
    padding: @ui-size;

    .title {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        font-size: @ui-padding;
        vertical-align: middle;
    }

    .icon-button {
        flex: 0 1 auto;
        cursor: pointer;

        &::before {
            margin-right: 0;
            text-align: center;
        }

        &:hover {
            color: @text-color-info;
        }
    }

}


.cmd-message    { color: @text-color-highlight; }
.cmd-status     { color: @text-color-info; }

.compiled {
    .cmd-type       { color: @text-color-info; }
}

.invalidated {
    .cmd-type       { color: darken(@text-color-subtle, 15%) !important; }
}

.running {
    .cmd-message    { color: darken(@text-color-highlight, 25%) !important; }
}

.solved-consistent, .solved-valid {
    .cmd-message    { color: @text-color-highlight; }
    .cmd-type       { color: @text-color-success; }
    .cmd-status     { color: @text-color-success; }
}

.solved-consistent .cmd-status:hover {
    background-color: @text-color-success !important;
    color: @level-1-color !important;
}

.solved-invalid .cmd-status:hover {
    background-color: @text-color-error !important;
    color: @level-1-color !important;
}

.solved-inconsistent, .solved-invalid {
    .cmd-message    { color: @text-color-highlight; }
    .cmd-type       { color: @text-color-error; }
    .cmd-status     { color: @text-color-error; }
}

.alloy .item-list {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    color: @text-color-subtle;

    .item {
        display: flex;
        line-height: @ui-line-height;
        border-top: 1px solid @pane-item-border-color;
        background-color: @level-3-color;
        cursor: default;
        user-select: none;
        &:last-of-type {
            border-bottom: 1px solid @pane-item-border-color;
        }
        &:hover div {
            cursor: pointer;
            background-color: @level-1-color;
        }
        &.running {
            background-color: @level-2-color;
            &:hover div {
                cursor: default;
                background-color: transparent;
            }
            & + .running {
                border-top: 1px solid @level-3-color;
            }
            .cmd-type {
                border-right: 1px solid transparent;
            }
            .cmd-status::before {
                line-height: 0.9em;  // THIS WORKS FOR CENTERING FOR SOME REASON
                animation-name: spin;
                animation-duration: 1500ms;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
            }
        }
    }

    .cmd-type {
        padding: @list-item-padding;
        background-color: @level-2-color;
        border-right: 1px solid @pane-item-border-color;
    }

    .cmd-message {
        flex: 1 0 auto;
        padding: @list-item-padding;
    }

    .cmd-option {
        flex: 0 1 auto;
        padding-right: @list-item-padding-h;
        padding-left: @list-item-padding-h;
    }

    .icon {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &::before {
            margin-right: 0;
            text-align: center;
        }
    }

}


// .alloy .item-list {
//
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     margin: 0 auto;
//     background-color: transparent;
//
//     .item {
//
//         &.running {
//
//             cursor: default;
//             background-color: @level-2-color;
//             // box-shadow: inset 0 0 1px 1px @level-3-color;
//             // box-shadow: inset 5px 0 5px -5px @level-3-color;
//             // border-bottom: 1px solid @level-2-color;
//
//             &:hover {
//                 div {
//                     background-color: transparent;
//                 }
//             }
//
//             & + .running {
//                 border-top: 1px solid @level-3-color;
//                 // box-shadow: inset 5px 0 5px -5px @level-3-color;
//             }
//
//             .icon {
//                 color: @color-running;
//                 &.right::before {
//                     line-height: 0.9em;  // THIS WORKS FOR CENTERING FOR SOME REASON
//                     animation-name: spin;
//                     animation-duration: 1500ms;
//                     animation-iteration-count: 5;
//                     animation-timing-function: ease;
//
//                 }
//             };
//
//             .cmd-type {
//                 background-color: transparent;
//                 border-right: 1px solid transparent;
//             }
//
//             kbd {
//                 background-color: @color-running;
//             }
//         }
//
//         &.error {
//             .icon { color: @color-error !important; };
//             kbd { background-color: @color-error !important; }
//         }
//
//         display: flex;
//         cursor: pointer;
//         line-height: @ui-line-height;
//         border-top: 1px solid @pane-item-border-color;
//         background-color: @level-3-color;
//         user-select: none;
//
//         &:last-of-type {
//             border-bottom: 1px solid @pane-item-border-color;
//         }
//
//         &:hover {
//             div {
//                 background-color: @level-1-color;
//             }
//         }
//
//         .icon {
//             flex: 0 1 auto;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             &::before {
//                 margin-right: 0;
//                 text-align: center;
//             }
//             color: @color-ready;
//         }
//
//         .cmd-type {
//             padding: @list-item-padding;
//             background-color: @level-2-color;
//             border-right: 1px solid @pane-item-border-color;
//         }
//
//         kbd {
//             background-color: @color-ready;
//         }
//
//         .cmd-message {
//             flex: 1 0 auto;
//             padding: @list-item-padding;
//         }
//
//         .right {
//             flex: 0 1 auto;
//             // padding: @list-item-padding;
//             padding-right: @list-item-padding-h;
//             padding-left: 0;
//         }
//
//     }
//
//     // ol, ul {
//     //
//     //     border: 1px solid @pane-item-border-color;
//     //     padding: 0;
//     //
//     //     li {
//     //         line-height: 2em;
//     //         height: 2em;
//     //         padding: 0 1.5em;
//     //         border-bottom: 1px solid @pane-item-border-color;
//     //         list-style: none;
//     //
//     //         &:last-of-type {
//     //             border-bottom: none;
//     //         }
//     //     }
//     // }
// }
