@import "ui-variables";

@ui-size:           1em;
@ui-padding:        @ui-size*1.5;
@ui-line-height:    @ui-size*2;

@pane-item-hover-color: lighten(@pane-item-background-color, 6%);

@list-item-padding-v: @ui-padding/2.5;
@list-item-padding-h: @ui-padding/1.5;
@list-item-padding: @list-item-padding-v @list-item-padding-h;

@color-ready: @text-color-info;
@color-running: @text-color-success;
@color-error: @text-color-error;

.alloy .modal {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-animation: overlay-fade 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    .header {
        border-top: 1px solid @level-3-color;
    }

    .content {
        flex: 0 1 auto;
        background-color: @level-1-color;
        padding: @ui-size;
        border-botton: 1px solid @level-3-color;
        box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.4);
    }

    .fill {
        flex: 1 0 auto;
        background-color: @level-2-color;
        opacity: 0.9;
    }

}

.alloy .header {

    display: flex;
    align-items: center;
    background-color: @level-2-color;
    padding: @ui-size;

    .title {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        font-size: @ui-padding;
        vertical-align: middle;
    }

    .icon-button {
        flex: 0 1 auto;
        cursor: pointer;

        &::before {
            margin-right: 0;
            text-align: center;
        }

        &:hover {
            color: @color-ready;
        }
    }

}

.alloy .item-list {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;

    .item {

        &.running {
            .icon { color: @color-running; };
            kbd { background-color: @color-running; }
        }

        &.error {
            .icon { color: @color-error !important; };
            kbd { background-color: @color-error !important; }
        }

        display: flex;
        cursor: pointer;
        line-height: @ui-line-height;
        border-bottom: 1px solid @pane-item-border-color;
        background-color: @level-3-color;
        user-select: none;

        &:first-of-type {
            border-top: 1px solid @pane-item-border-color;
        }

        &:hover {
            div {
                background-color: @level-1-color;
            }
        }

        .icon {
            flex: 0 1 auto;
            &::before {
                margin-right: 0;
                text-align: center;
            }
            color: @color-ready;
        }

        .cmd-type {
            padding: @list-item-padding;
            background-color: @level-2-color;
            border-right: 1px solid @pane-item-border-color;
        }

        kbd {
            background-color: @color-ready;
        }

        .cmd-message {
            flex: 1 0 auto;
            padding: @list-item-padding;
        }

        .right {
            flex: 0 1 auto;
            padding: @list-item-padding;
            padding-left: 0;
        }

    }

    ol, ul {

        border: 1px solid @pane-item-border-color;
        padding: 0;

        li {
            line-height: 2em;
            height: 2em;
            padding: 0 1.5em;
            border-bottom: 1px solid @pane-item-border-color;
            list-style: none;

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}
